<% detail = detail || true %>

<div class="am-u-sm-3">
  <% if detail %>
      <div style="width: 50px; float: right; text-align: center; padding-top: 5px; padding-right: 20px;">
        <a href="#" class="am-icon-btn am-icon-thumbs-o-up am-icon-btn-sm"></a>
        <br>
        <span>233</span>
        <br>
        <a href="#" class="am-icon-btn am-icon-thumbs-o-down am-icon-btn-sm"></a>
      </div>
  <% end %>
</div>

<div class="am-u-sm-9">
  <div style="display: inline-block;">
    <h2 class="am-monospace" style="margin-bottom: 0px;"><%= @question.title %></h2>
  </div>
  <div style="display: inline-block">
    <% if can? :update, @question %>
        <%= link_to '修改', edit_question_path(@question) %>
    <% end %>
  </div>
  <% if detail %>
      <p class="am-san-serif am-text-break"><%= @question.content.html_safe%></p>
      <div style="display: inline-block">
        <%= content_tag "a", "#{@question.question_comments.length}条评论", id: "question_comment_link",
                        href: "javascript:void(0)",
                        data: {"question_id": @question.id} %>
        <a href="#">分享</a>
      </div>
  <% end %>
  <div style="display: inline-block; float: right">
    <span>发布于<%= @question.created_at.strftime("%Y/%m/%d")%></span>
    <%= link_to @question.user.login, @question.user %>
    <span>21</span>
  </div>
  <div id="question_comments_placeholder"></div>
  <hr>
</div>