<% if ! defined? show_link %>
    <% show_link = false %>
<% end %>

<% if detail %>

    <div class="am-u-sm-3">
      <% @vote = QuestionVote.user_vote(current_user, @question.id) %>
      <%= render 'votes/vote_box' %>
    </div>

    <div class="am-u-sm-9">
      <div style="display: inline-block;">
        <span class="am-monospace" style="font-size:1.2em; font-weight: bold; margin-bottom: 0px;">
          <% if show_link %>
              <%= link_to @question.title, @question %>
              <% else %>
          <%= @question.title %>
              <% end %>
        </span>
      </div>
      <div style="display: inline-block">
        <% if can? :update, @question %>
            <%= link_to '修改', edit_question_path(@question) %>
        <% end %>
        <% if can? :destroy, @question %>
            <%= link_to '删除', @question, action: :destroy, method: :delete, data: {confirm: 'Really?'} %>
        <% end %>
      </div>
      <div class="am-san-serif am-text-break" style="margin-top: 0.3em; margin-bottom: 0.3em;"><%= @question.content.html_safe%></div>
      <div style="display: inline-block">
        <%= content_tag "a", "#{@question.question_comments.length}条评论", id: "question_comment_link", class:"am-icon-comment-o", style:"font-size:1.4rem; color:#999;",
                        href: "javascript:void(0)",
                        data: {question_id: @question.id} %>
        <%= render 'shared/share_box' %>
      </div>
      <div style="display: inline-block; float: right">
        <span style="font-size: 1.4rem; color:rgb(153, 153, 153)">发布于<%= @question.created_at.strftime("%Y/%m/%d")%>&nbsp;</span>
        <%= link_to @question.user.login, @question.user, html_options = {style: "font-size:1.4rem;"} %>
        <span style="font-size: 1.4rem; color:rgb(153, 153, 153)">21</span>
      </div>
      <div id="question_comments_placeholder"></div>
      <hr>
    </div>

<% else %>
    <div class="am-u-sm-3"></div>
    <div class="am-u-sm-9 am-u-sm-offset-3">
      <div style="display: inline-block; float: left; margin-top: 3px;">
        <div style="display: inline-block; width: 50px; text-align: center">
          <span>#</span><br>
          <span>投票</span>
        </div>
        <div style="display: inline-block; width: 50px; text-align: center">
          <span><%= @question.answers.length %></span><br>
          <span>回答</span>
        </div>
        <div style="display: inline-block; width: 50px; text-align: center; margin-right: 10px;">
          <span><%= @question.question_comments.length %></span><br>
          <span>评论</span>
        </div>
      </div>
      <div>
        <div>
          <%= link_to @question.title, @question, style: "font-size: 1.2em"%>
        </div>
        <div style="font-size: 0.9em; text-align: right">
          <span>发布于 <%= @question.created_at.strftime("%Y/%m/%d") %></span>
          <%= link_to @question.user.login, @question.user %>
          <span> 21</span>
        </div>
      </div>
      <hr>
    </div>

<% end %>