<%= render 'errors' %>

<div class="am-g am-g-collapse">
  <div class="am-u-sm-2"></div>
  <div class="am-u-sm-6 am-u-sm-offset-2">
    <span style="font-weight: bold">用户提问</span>
    <hr style="margin-top: 0px;">
    <%= form_for @question do |f| %>
        <div class="am-input-group am-input-group-primary" style="margin-bottom: 5px">
          <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
          <%= f.text_field :title, class: "am-form-field", placeholder:"标题" %>
        </div>
        <div style="margin-bottom: 5px">
          <%= f.cktext_area :content%><br>
        </div>
        <%= f.submit "提交", class:"am-btn am-btn-primary", style:"float:right"%>
    <% end %>
    <%= button_to '返回', questions_path, :class => 'am-btn', :style => 'float:right; margin-right:5px'%>
  </div>
  <div class="am-u-sm-2">
    <%= image_tag 'ad_test.png', style: 'width: 90%; float:right' %>
  </div>
  <div class="am-u-sm-2"></div>
</div>