<% content_for :head do %>
    <title>用户提问-者也</title>
<% end %>

<%= render 'errors' %>
<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em">用户提问</span>
  <hr style="margin-top: 0px;">
  <%= form_for @question do |f| %>
      <div class="am-input-group am-input-group-primary" style="margin-bottom: 5px">
        <span class="am-input-group-label"><i class="am-icon-quote-left am-icon-fw"></i></span>
        <%= f.text_field :title, class: "am-form-field", placeholder:"标题" %>
      </div>
      <%= f.cktext_area :content%>
      <%= f.submit "提交", class:"am-btn am-btn-primary", style:"float:right; margin-top:10px;"%>
  <% end %>
  <!--
  <%= button_to '返回', questions_path, :class => 'am-btn', :style => 'float:right; margin-right:5px'%>
  -->
</div>
