
<h2> <%= @question.title %> </h2>

<%= @question.content.html_safe %>

<p><%= @question.created_at%> </p>

<p><%= @question.user.login %></p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
