<li class="am-comment">
  <%= link_to @comment.user do %>
      <%=image_tag 'default_user.jpe', class: 'am-comment-avatar', style: 'width:4 8px; height: 48px' %>
  <% end %>

  <div class="am-comment-main">
    <header class="am-comment-hd">
      <!--<h3 class="am-comment-title">评论标题</h3>-->
      <div class="am-comment-meta">
        <%= link_to @comment.user.login, @comment.user, class: "am-comment-author" %>
        <span>评论于<%= @comment.created_at.strftime("%Y/%m/%d") %></span>
        <% if can? :destroy, [@comment_parent, @comment] %>
            <%= link_to '删除', [@comment_parent, @comment], action: :destroy, method: :delete %>
        <% end %>
      </div>
    </header>

    <div class="am-comment-bd">
      <%= @comment.content.html_safe%>
    </div>
  </div>
</li>