<%= render 'errors' %>

<% comment_identifier = rand(100000000) %>

<%= form_for @comment.chain, remote: true, html: {'data-am-validator' => true}  do |f| %>
    <div id="comment_errors_<%= comment_identifier %>_placeholder" style="display: none">
    </div>
    <div class="am-input-group" style="margin-bottom: 5px; width: 91%">
      <%= hidden_field_tag :comment_identifier, comment_identifier %>
      <%= f.text_area :content, class: "am-form-field", placeholder:"写下你的评论……(最少5字)", minlength: 5, onkeyup:"auto_grow(this)",
                      style:"width:99%;margin-left:0.5%;border-radius:5px; resize:none;min-height:40px; max-height:100px;" %>
      <%= f.submit "提交", class:"am-btn am-btn-default", style:"float:right; margin-top:10px; margin-right:3px"%>
    </div>
    <script>
      function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
        if (element.scrollHeight > 40) {
          element.style.height = "5px";
          element.style.height = (element.scrollHeight + 5) + "px";
        }
      }
    </script>
<% end %>