<% content_for :head do %>
    <title><%= @user.login %>反对的-者也</title>
<% end %>

<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= @user.login %>反对的(<%= @downvotes.length %>)</span>
  <hr style="margin-top: 0px;">
</div>
<% @downvotes.each do |downvote| %>
    <% @downvote = downvote %>
    <% if @downvote.type == 'QuestionVote' %>
        <% @question = @downvote.question %>
        <%= render partial: 'questions/question_box', locals: {detail: true, show_link: true} %>
    <% else %>
        <% @answer = @downvote.answer %>
        <%= render partial: 'answers/answer_box', locals: {detail: true} %>
    <% end %>
<% end %>