<% content_for :head do %>
    <title><%= @user.login %>的评论-者也</title>
<% end %>

<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= render partial: 'users/user_name' %>的评论(<%= @comments.length %>)</span>
  <hr style="margin-top: 0px;">
</div>
<% @comments.each do |comment| %>
    <% @comment = comment %>
    <% if @comment.type == 'QuestionComment' %>
        <% @question=@comment.question %>
        <div class="am-u-sm-3"></div>
        <div class="am-u-sm-9 am-u-sm-offset-3">
          <span style="color:#999; font-size: 1.4rem;">
            <%= @user.login %>评论的问题
          </span>
          <div class="am-monospace" style="font-size:1.2em; font-weight: bold; margin-bottom: -10px;">
            <%= link_to @question.title, @question %>
          </div>
          <div>
            <ul class="am-comments-list am-comments-list-flip" id="commentslist">
              <%= render partial: 'comments/show' %>
            </ul>
          </div>
          <hr>
        </div>
    <% else %>
        <% @answer=@comment.answer %>
        <div class="am-u-sm-3"></div>
        <div class="am-u-sm-9 am-u-sm-offset-3">
          <span style="color:#999; font-size: 1.4rem;">
            <%= @user.login %>评论的回答
          </span>
          <div class="am-monospace" style="font-size:1.1em; font-weight: bold; margin-bottom: 0px;">
            <%= link_to @answer.question.title, @answer.question %>
          </div>
          <div style="margin-bottom: -10px;">
            <%= @answer.content.html_safe %>
          </div>
          <div>
            <ul class="am-comments-list am-comments-list-flip" id="commentslist">
              <%= render partial: 'comments/show' %>
            </ul>
          </div>
          <hr>
        </div>
    <% end %>
<% end %>