<% content_for :head do %>
    <title><%= @user.login %>的主页-者也</title>
<% end %>


<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= @user.login %>的主页</span>
  <hr style="margin-top: 0px;">
  <div>
    <span style="color: #666; font-weight: 700"><i class="am-icon-angellist am-icon-fw"></i>个人成就</span>
    <div style="padding-left: 40px; color: #777; font-size: 0.9em;">获得
      <i class="am-icon-thumbs-o-up am-icon-fw"></i>
      <span style="font-weight: bold"><%= @user.all_upvotes_received %> </span>赞成
      <i class="am-icon-star am-icon-fw"></i>
      <span style="font-weight: bold"><%= (@user.score * 100).round %> </span>积分
    </div>
  </div>
  <div style="margin-top: 20px;">
    <span style="color: #666; font-weight: 700"><i class="am-icon-bar-chart-o am-icon-fw"></i>统计信息</span>
    <div style="padding-left: 40px; color: #777; font-size: 0.9em;">
      <%= link_to all_questions_user_path(@user) do %>
          <i class="am-icon-lightbulb-o am-icon-fw"></i>
          <span>提问(<%= @user.questions.length %>)</span>
      <% end %>
      <%= link_to all_answers_user_path(@user) do %>
          <i class="am-icon-sticky-note-o am-icon-fw" style="margin-left: 10px;"></i>
          <span>回答(<%= @user.answers.length %>)</span>
      <% end %>
      <%= link_to all_comments_user_path(@user) do %>
          <i class="am-icon-comment-o am-icon-fw" style="margin-left: 10px;"></i>
          <span>评论(<%= @user.comments.length %>)</span>
      <% end %>
      <%= link_to all_upvotes_user_path(@user) do %>
          <i class="am-icon-thumbs-o-up am-icon-fw" style="margin-left: 10px;"></i>
          <span>赞成(<%= @user.votes.where(attitude: 1).length %>)</span>
      <% end %>
      <%= link_to all_downvotes_user_path(@user) do %>
          <i class="am-icon-thumbs-o-down am-icon-fw" style="margin-left: 10px;"></i>
          <span>反对(<%= @user.votes.where(attitude: -1).length %>)</span>
      <% end %>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <span style="color: #666; font-weight: 700"><i class="am-icon-list-ul am-icon-fw"></i>详细资料</span>
    <% if can? :update, @user %>
        <%= link_to '修改', edit_user_path(@user) %>
    <% end %>
    <% if can? :destroy, @user %>
        <%= link_to '删除', user_path(@user), method: :delete, data: {confirm: 'Really?'} %>
    <% end %>
    <div style="padding-left: 40px; color: #777; font-size: 0.9em;">
      <div><i class="am-icon-user am-icon-fw"></i> 真实姓名：<%= @user.realname %></div>
      <div>
        <i class="am-icon-venus-mars am-icon-fw"></i>
        <% if @user.gender %>
            <span>性别：男</span><br>
        <% elsif @user.gender==false %>
            <span>性别：女</span><br>
        <% else %>
            <span>性别：</span><br>
        <% end %>
      </div>
      <div><i class="am-icon-birthday-cake am-icon-fw"></i> 生日：<%= @user.birthday %></div>
      <div><i class="am-icon-map-o am-icon-fw"></i> 地址：<%= @user.address %></div>
      <div><i class="am-icon-pencil-square-o am-icon-fw"></i> 个人简介：<%= @user.self_introduction %></div>
    </div>
  </div>

</div>
