<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <h1 class="am-topbar-brand" style="margin-left: 16%">
    <a href="/questions">
      <%=image_tag 'header_tran.png', style: 'padding-bottom: 4px', height: "40px" %>
    </a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <form class="am-topbar-form am-topbar-left am-form-inline" role="search" action="<%= search_index_url %>" method="get">
      <div class="am-input-group am-input-group-primary" style="min-width: 300px;" >

        <input type="search" class="am-form-field am-input-sm" name="query" placeholder="搜索" style="border-radius:10px;">
      </div>
    </form>

    <% if current_user %>
      <div class="am-topbar-right" style="margin-right: 15%">
        <%= button_to '提问', new_question_path, :id => 'button_ask', :class => 'am-btn am-btn-primary am-topbar-btn am-btn-sm', :method => :get, form_class: 'am-topbar-left am-topbar-inline' %>
        <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
          <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><%= current_user.login %><span class="am-icon-caret-down"></span></button>
          <ul class="am-dropdown-content">
            <li><%= link_to '我的主页', me_path %></li>
            <li><%= link_to "我的提问", all_questions_user_path(current_user) %></li>
            <li><%= link_to "我的回答", all_answers_user_path(current_user) %></li>
            <li><%= link_to "我的评论", all_comments_user_path(current_user) %></li>
            <li><%= link_to "我赞成的", all_upvotes_user_path(current_user) %></li>
            <li><%= link_to "我反对的", all_downvotes_user_path(current_user) %></li>
            <li><%= link_to '退出', log_out_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="am-topbar-right" style="margin-right: 16%">
        <%= button_to '登录', 'javascript:void(0)', :id => 'button_login', :class => 'am-btn am-btn-primary am-topbar-btn am-btn-sm', :method => :get, data:{'am-modal':"{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}"}, form_class: 'am-topbar-right am-topbar-inline' %>
        <%= button_to '注册', new_user_path, :id => 'button_signup', :class => 'am-btn am-btn-primary am-topbar-btn am-btn-sm', :method => :get, form_class: 'am-topbar-right am-topbar-inline' %>
      </div>
    <% end %>
  </div>
</header>


