<div class="am-g am-g-collapse">
  <div class="am-u-sm-2">
    <div style="width: 50px; float: right; text-align: center; padding-top: 5px;">
      <a href="##" class="am-icon-btn am-icon-thumbs-o-up am-icon-btn-sm"></a>
      <br>
      <span>23</span>
      <br>
      <a href="##" class="am-icon-btn am-icon-thumbs-o-down am-icon-btn-sm"></a>
    </div>
  </div>
  <div class="am-u-sm-6">
    <div style="display: inline-block">
      <%= link_to @answer.user.login, @answer.user %>
      <span>21</span>
    </div>
    <div style="display: inline-block; float: right">
      <!--
      <% if can? :update, @answer %>
          <%= link_to '修改', edit_question_answer_path(@question, @answer) %>
      <% end %>
      -->


      <%= link_to '修改', edit_question_answer_path(@question, @answer) %>


    </div>
    <p class="am-san-serif" style="margin-top: 0;"><%= @answer.content.html_safe%></p>
    <div style="display: inline-block">
      <a href="##"><%= @answer.answer_comments.length %>条评论</a>
      <a href="##">分享</a>
    </div>
    <div style="display: inline-block; float: right">
      <span>发布于<%= @answer.created_at.strftime("%Y/%m/%d") %></span>
    </div>
    <hr>
  </div>
  <div class="am-u-sm-2">
    <span></span>
  </div>
  <div class="am-u-sm-2"></div>
</div>
