<p id="notice"><%= notice %></p>

<h1>Listing Answer Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_comments.each do |answer_comment| %>
      <tr>
        <td><%= link_to 'Show', answer_comment %></td>
        <td><%= link_to 'Edit', edit_answer_comment_path(answer_comment) %></td>
        <td><%= link_to 'Destroy', answer_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer comment', new_answer_comment_path %>
