<% content_for :head do %>
    <title>用户登录-者也</title>
<% end %>


<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em">用户登录</span>
  <hr style="margin-top: 0px;">
  <div style="padding-left: 30px">
    <%= form_for @user_session do |f| %>
        <%= render 'shared/errors', object: @user_session %>
        <div class="am-input-group am-input-group-primary" style="margin-bottom: 5px">
          <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
          <%= f.text_field :login, class: "am-form-field", placeholder:"登录帐号" %>
        </div>

        <div style="margin-bottom: 5px">
          <%= f.password_field :password, class: "am-form-field", placeholder:"密码", style:"border-color:#0e90d2" %>
        </div>

        <div style="display: inline-block; vertical-align: middle; float: right">
          <%= f.check_box :remember_me %>
          <span style="margin-right: 10px;">记住我</span>
          <%= f.submit '登录', class:"am-btn am-btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
