<div class="page-header"><h1>Sign In</h1></div>

<%= form_for @user_session do |f| %>
    <%= render 'shared/errors', object: @user_session %>

    <div class="form-group">
      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>

    <%= f.submit 'Log in!', class: 'btn btn-primary btn-lg' %>
<% end %>