<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="者也，友好的中文问答网站">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= content_for?(:head) ? yield(:head) : '' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'portal', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
<!--
<div class="am-container" style="max-width: none; padding-left: 0; padding-right: 0; height: auto">
-->
<div id="wrapper" style="position: relative; height: auto; min-height: 530px;">
  <br>
  <%= render 'shared/navbar' %>
  <div class="am-g am-g-collapse">
    <div class="am-u-sm-8">
      <%= yield %>
    </div>
    <div class="am-u-sm-4">
      <div class="am-u-sm-6">
        <%= image_tag "ad_test.png", style:"width:90%; float:right;" %>
        <%= content_for?(:sidebox) ?yield(:sidebox) : '' %>
      </div>
      <div class="am-u-sm-6"></div>

    </div>
  </div>
  <%= render 'shared/backtotop' %>
  <%= render 'shared/footer' %>
</div>
<!--
</div>
-->
</body>
</html>
